<a href="https://colab.research.google.com/github/gmuhammed/hamoye_ai/blob/main/HamoyeAi_first_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
url = "https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(url, encoding='latin-1')
df.sample(10)

       Area Code           Area  Item Code  ...  Y2016  Y2017  Y2018
10897         39           Chad       2905  ...  35.86  35.74  36.02
13776        107  CÃ´te d'Ivoire       2516  ...   6.00   4.00   6.00
33262        130         Malawi       2943  ...  12.71  10.96  12.69
51834        276          Sudan       2580  ...   0.02   0.02   0.02
12866         46          Congo       2576  ...   1.00   0.00   0.00
59548        251         Zambia       2899  ...   0.02   0.02   0.02
27369        114          Kenya       2563  ...   0.00   0.00   0.00
33507        130         Malawi       2763  ...   0.03   0.04   0.04
11500         39           Chad       2580  ...   0.00   0.00   0.00
720            4        Algeria       2614  ...   0.00   0.00   0.00

[10 rows x 12 columns]

In [19]:
df.groupby('Item')[['Y2014','Y2017']].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [21]:
round(df.Y2015.mean(),3)

135.236

In [22]:
round(df.Y2015.std(),3)

1603.404

In [24]:
df.Y2015.isnull().sum()

1548

In [28]:
round(df.Y2015.isnull().sum()/df.shape[0] *100,2)

2.54

In [33]:
df[['Y2014','Y2015','Y2016','Y2017','Y2018']].corrwith(df['Element Code'])

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
dtype: float64

In [37]:
df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum().loc['Import Quantity']

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [39]:
df.groupby('Element',as_index=False )['Y2014'].sum()

                                   Element       Y2014
0                 Domestic supply quantity  1996716.35
1                          Export Quantity   150020.64
2       Fat supply quantity (g/capita/day)    10225.56
3                                     Feed   216927.89
4                                     Food  1212332.49
5            Food supply (kcal/capita/day)   454257.00
6      Food supply quantity (kg/capita/yr)    49650.63
7                          Import Quantity   274144.48
8                                   Losses   153223.00
9                    Other uses (non-food)    78718.13
10                              Processing   282923.00
11                              Production  1931287.75
12  Protein supply quantity (g/capita/day)    11836.46
13                               Residuals    30149.00
14                                    Seed    21922.92
15                         Stock Variation    58749.83
16           Total Population - Both sexes  1031585.00
17                     Tourist consumption      416.00

In [53]:
df.groupby('Element',as_index=False )['Y2018'].sum().sort_values(by='Y2018')

                                   Element       Y2018
17                     Tourist consumption       90.00
2       Fat supply quantity (g/capita/day)    10258.69
12  Protein supply quantity (g/capita/day)    11833.56
15                         Stock Variation    20577.91
14                                    Seed    25263.14
13                               Residuals    34864.00
6      Food supply quantity (kg/capita/yr)    49056.85
9                    Other uses (non-food)    91300.97
8                                   Losses   163902.00
1                          Export Quantity   181594.80
3                                     Feed   233489.68
7                          Import Quantity   287997.09
10                              Processing   308429.00
5            Food supply (kcal/capita/day)   455261.00
16           Total Population - Both sexes  1140605.00
4                                     Food  1303841.28
11                              Production  2075072.89
0                 Domestic supply quantity  2161192.10

In [66]:
df.groupby(['Area','Element'] )['Y2018'].sum().loc['Algeria']

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

In [67]:
df.Area.nunique()

49

In [ ]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])